<div class="outer-container">
    <div class="display-container">
        <app-card-display [title]="displayedCardTitle" [description]="displayedCardDescription"></app-card-display>
    </div>
    <div class="active-slot-container">
        <p class="subtitle">Active Objectives</p>
        <app-active-slot class="active-slot-one" [card]="activeCardOne()" (clickActiveCallback)="clickActiveCallbackOne()" (displayCallback)="displayCallback($event)"></app-active-slot>
        <app-active-slot class="active-slot-two" [card]="activeCardTwo()" (clickActiveCallback)="clickActiveCallbackTwo()" (displayCallback)="displayCallback($event)"></app-active-slot>
    </div>
    <div class="lower-container">
        <app-main-deck (clickDeckCallback)="clickDeckCallback()"></app-main-deck>
        <app-discard-pile (clickDiscardedCallback)="clickDiscardedCallback($event)" [discardedCards]="discardedCards()" (displayCallback)="displayCallback($event)"></app-discard-pile>
    </div>
</div>
