.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.active-slot-container {
    display: flex;
    flex-direction: column;
    border: 2px #000000;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 5px;
}

.display-container {
    max-width: 300px;
}

.subtitle {
    color: gray;
    align-self: anchor-center;
}