.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
}

.display-title {
    background-color: #579154;
    padding: 10px;
    font-family: math;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    min-width: 300px;
}

.display-description {
    max-width: 300px;
    line-height: 25px;
}

#use-backslash-n {
  white-space: pre-line;
}