button {
    padding: 5px;
    border-radius: 5px;
    min-height: 44px;
    margin-top: 4px;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reactivate-button {
    font-family:math;
}

.card-name {
    width: -webkit-fill-available;
}