.inner-container {
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: space-between;
    min-width: 280px;
}

.active-button {
    padding: 5px;
    border-radius: 5px;
    min-height: 44px;
}

.discard {
    font-family: math;
    background-color: #ffb6b6;
}

.mission {
    width: -webkit-fill-available;
}