.p-score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
}
p {
    margin: 10px;
}
button {
    background-color: #62ec62;
    border-width: thick;
    border-color: #76dc76;
    border-radius: 10px;
    font-weight: bolder;
    color: darkgreen;
    width: 80px;
    padding: 10px;
    font-size: xx-large;
}