.score-container {
    display: flex;
    font-size: larger;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: auto;
    justify-content: center;
    margin: 5px;
    font-weight: bold;
}

p {
    margin: 5px;
}